.featuredProject {
  display: flex;
  align-items: center;
  gap: 1vw;
  padding: 1vw;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1vw;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 35vw;
  margin: 3vw 0 1vw 8vw;
}

.featuredProject:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.thumbnail {
  width: 12vw;
  height: 8vw;
  object-fit: cover;
  border-radius: 0.5vw;
}

.text {
  flex: 1;
  padding-left: 0;
}

.text h3 {
  margin: 0;
  font-size: 1vw;
  font-weight: bold;
}

.text p {
  margin: 0;
  font-size: 0.8vw;
  line-height: 1.4;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2vw;
  margin-top: 0.5vw;
}

.techBox {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.2vw 0.3vw;
  border-radius: 0.5vw;
  font-size: 0.7vw;
  font-weight: 500;
}
