.container {
  height: 200vh;
  position: relative;
}

.stickyContent {
  position: sticky;
  top: 0;
  height: 100vh;
  will-change: transform;
  align-content: center;
}

.gear {
  width: 105vw;
  height: 105vw;
  align-content: center;
  transform: translateX(-50%);
  image-rendering: pixelated;
}
