.container {
  width: 72vw;
  display: flex;
  align-items: center;
  justify-content: left;
  transition-property: transform, background-color;
  transition: 0.1s linear;
  transform-origin: -35vw 50%;
  position: absolute;
  top: 30%;
  border: 2px #fff0 solid;
  border-radius: 1vw;
}

.img {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  width: 35vw;
  height: 25vw;
  background: #4444;
  border-radius: 1vw;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
  width: 35vw;
  height: 25vw;
  position: absolute;
  transform-origin: 0% 0%;
  transform: translate(36vw, 0);
  text-align: left;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header {
    font-size: 2vw;
}

.text {
    font-size: 1.5vw;
}

.selected {
    background-color: #4444;
}

.selected:hover {
    border: 2px grey solid;
    box-shadow: var(--hover-shadow-color) 0px 0px 8px;
    background-color: var(--hover-color);
}

.skills {
  display: flex;
  gap: 0.5vw;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 100%;
  flex-direction: row-reverse;
}

.skill {
  font-size: 1.5vw;
  color: var(--font-color-secondary);
  border: 2px solid var(--font-color-secondary);
  padding: 0.2vw 0.4vw;
}

