.container {
  transform: translateX(-30vw);
}

.rotContainer {
  width: 0;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: left;
  transition-property: transform, background-color;
  transition: 0.1s linear;
  position: absolute;
  border: 2px #fff0 solid;
  border-radius: 1vw;
}

.selected > * {
  background-color: #4444;
}

.selected > *:hover {
  border: 2px grey solid;
  box-shadow: var(--hover-shadow-color) 0px 0px 8px;
  background-color: var(--hover-color);
}
