
.section {
    width: 90%;
    margin: 0 auto;
}

.logs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
    gap: 1vw;
}

.button {
    width: 18vw;
    margin: auto;
    padding: 1vw;
    font-size: 2.5vw;  
    font-weight: bold;  
    text-align: center;
    border: 2px grey solid;
    border-radius: 1vw;
    transition: var(--transition-time);
}

.button:hover {
    background-color: #333;
    box-shadow: white 0px 0px 5px;
}