
:root {
    --img-radius: 1vw;
    --transition-time: 200ms;

    --background-color: #171924;
    --button-color: #475773;
    --font-color: white;
    --font-color-secondary: #9bcae5;
    --outline-color: #8989b0;
    --hover-color: #000000;
    --hover-shadow-color: white;
}

.sections {
    margin-top: 3vw;
    display: grid;
}

.section-header {
    font-size: 3.5vw;
    font-weight: bold;
    margin: 5vw 0 2.5vw 0;
    padding: 0;
}

.img-container {
    background-color: #eee;
    border-radius: var(--img-radius);
}

#top {
    position: relative;
    width: 100%;
    z-index: 0;
}

#top * {
    z-index: 2; /* Appears above canvas */
}